.banner-hero {
  background-image: url("../../assets/placeholderImage03.jpg");
}

@media (prefers-color-scheme: dark) {
  .banner-hero {
    background-image: url("../../assets/city_view_banner.jpg");
  }
}

/* todo: this bannerinfo should change from side to side; */
/* see if the shadow effect can be improved when correctly font is applied */
.banner-title-contrast {
  color: var(--color-honey);
  -webkit-text-stroke: 0.8px rgba(0, 0, 0, 0.7);
  text-shadow:
    0 1px 2px rgba(0, 0, 0, 0.9),
    0 0 10px rgba(0, 0, 0, 0.55);
}
